---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntry } from "astro:content";
import ImageMod from "@/components/ImageMod.astro";
import DynamicIcon from "@/helpers/DynamicIcon";
const {
  data: { title, description, meta_title, infoTable, pricingTable, bilder, keywords, image },
} = await getEntry("fotografie", "bewerbung");

---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  keywords={keywords}
  image={image}
  body_class="page-color-dark-fotografie page-color-light-fotografie">
  <PageHeader title={title} />
  
  <section class="section">
    <div class="container">
      <!-- Kosten -->
      <div class="mx-6">
        <div class="grid-1 grid gap-8 md:grid-cols-1 lg:grid-cols-3">
          <div class="lg:text-left">
              {
                infoTable &&
                  infoTable.map((table) => (
                      <div class={table.background}>
                          <a
                            href={table.image}
                            data-no-swup
                            class="glightbox"
                            data-gallery="gallery-group-1">
                            <ImageMod
                              src={table.image}
                              width="full"
                              height="full"
                              class="mx-auto rounded"
                              alt={title}
                            />
                          </a>
                        </div>
                  ))
              }
            </div>     
          <div class="border-portrait lg:text-left max-lg:px-6">
            {
              infoTable &&
                infoTable.map((table) => (
                        <h3
                          class="my-8 text-2xl uppercase"
                          set:html={table.title}/>
                      <div class="pt-10 px-7">
                        {table.features && table.features[0] && (
                          <ul class="pl-0 mb-8 first:pt-0">
                            {table.features.map((feature) => (
                              <li class="text-color py-1.5">
                                <DynamicIcon
                                  icon="TfiCheck"
                                  className="me-3 inline-block"
                                />
                                {feature}
                              </li>
                            ))}
                          </ul>
                        )}
                      </div>
                ))
            }   
          </div>
          <div class="border-portrait lg:border-l text-center">
            <div class="py-4 block">
              {
                pricingTable &&
                  pricingTable.map((table) => (
                          <h2
                            class="text-color pt-2 px-7 mb-0"
                            set:html={table.title}
                          />
                        <div class="text-center">
                          {table.value && (
                            <span class="h5 font-thin block">
                              {table.unit}
                              <span class="text-8xl font-thin">
                                {table.value}
                              </span>
                            </span>
                          )}
                          <h3
                            class=" pt-2 px-7 text-base"
                            set:html={table.subtitle}
                          />
                          {table.features && table.features[0] && (
                            <ul class="pl-8 mb-8 text-start first:pt-0">
                              {table.features.map((feature) => (
                                <li class="text-color py-1.5">
                                  <DynamicIcon
                                    icon="TfiCheck"
                                    className="me-3 inline-block"
                                  />
                                  {feature}
                                </li>
                                
                              ))}
                              <div class="py-2">
                                <hr>
                              </div>
                              {table.featuresExtra.map((feature) => (
                                <li class="text-color py-1.5">
                                  <DynamicIcon
                                    icon="TfiPlus"
                                    className="me-3 inline-block"
                                  />
                                  {feature}
                                </li>
                              ))}
                            </ul>
                          )}
                        </div>
                      </div>
                    </div>
                  ))
              }
        </div>
      </div>
    </div>

        <div class="text-textdark dark:text-portrait mt-10 lg:mt-20 block">
          <!-- Leistung icons -->
          <div class="mx-6 py-5 md:py-10 justify-center">
            <div class="py-25">
              <div class="lg:text-center">
                <h2 class="lg:mx-8 uppercase">meine Services für dich</h2>
              </div>
            </div>
            <div class="lg:mx-6 py-5 md:py-10 justify-center">
              <div
                class="grid gap-4 md:grid-cols-2 lg:grid-cols-3 object-center">
                <div class="py-1 flex gap-x-4">
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1"
                    viewBox="0 0 24 24"
                    width="2rem"
                    height="2rem"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                    </path>
                  </svg>
                  <p>Bis zu 3 Outfits</p>
                </div>
                <div class="py-1 flex gap-x-4">
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1"
                    viewBox="0 0 24 24"
                    width="2rem"
                    height="2rem"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                    </path>
                  </svg>
                  <p>Stil- und Imageberatung</p>
                </div>
                <div class="py-1 flex gap-x-4">
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1"
                    viewBox="0 0 24 24"
                    width="2rem"
                    height="2rem"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                    </path>
                  </svg>
                  <p>Bildauswahl während der Session</p>
                </div>
                <div class="py-1 flex gap-x-4">
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1"
                    viewBox="0 0 24 24"
                    width="2rem"
                    height="2rem"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                    </path>
                  </svg>
                  <p>Jedes Bild mit Retusche</p>
                </div>
                <div class="py-1 flex gap-x-4">
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1"
                    viewBox="0 0 24 24"
                    width="2rem"
                    height="2rem"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                    </path>
                  </svg>
                  <p>Digitale Abgabe</p>
                </div>
                <div class="py-1 flex gap-x-4">
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1"
                    viewBox="0 0 24 24"
                    width="2rem"
                    height="2rem"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                    </path>
                  </svg>
                  <p>Bequem per Rechnung</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Qand A -->
          <div class="mx-6 py-5 md:py-10">
            <div
              class="lg:text-left grid gap-8 md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-2">
              <div class="py-4">
                <h2>Professionelle Business Fotografie</h2>
                <div class="py-4">
                  <h2 class="text-4xl">
                    Warum sollst du Geld für Business-Fotografie ausgeben?
                  </h2>
                </div>
                <p>
                  Es spielt keine Rolle, ob es deine erste Bewerbung ist oder ob
                  du ein erfahrener Profi bist, der nach seiner nächsten
                  Karrierechance sucht. Dein Image ergänzt dein Profil, und das
                  ist der Grund, warum du dich für professionelle
                  Business-Fotografie (Bewerbungsbilder oder
                  Onlineprofil-Bilder) entscheiden solltest.
                </p>
                <p>
                  In unserem digitalen Zeitalter ist es auch wichtig, ein
                  aktuelles professionelles Bild zu haben, um deine Website oder
                  dein Online-Profil auf LinkedIN oder Xing zu bereichern. Die
                  Möglichkeiten der Online-Vernetzung und des digitalen Business
                  dürfen nicht unterschätzt werden. Es ist mehr denn je
                  notwendig, sich Mühe zu geben, ein glaubwürdiges Profil mit
                  professionellen Business Bilder zu präsentieren. Stelle
                  sicher, dass du dich von der Masse abhebst, und suche nach
                  professionellen Business-Fotografie.
                </p>
              </div>
              <section class="py-4">
          {
            bilder.galerie1 && (
              <div class="col-12">
                <div class="row justify-center lg:justify-normal content-around items-center">
                  {bilder.galerie1.map((item, index) => {
                    return (
                      <div class="col-12 lg:col-6 pt-8 ">
                        <a
                          href={item}
                          data-no-swup
                          class="glightbox"
                          data-gallery="gallery-group-1">
                          <ImageMod
                            src={item}
                            width="full"
                            height="full"
                            class="mx-auto rounded"
                            alt={title}
                          />
                        </a>
                      </div>
                    );
                  })}
                </div>
              </div>
            )
          }
        </section>
              </div>
            </div>    
<!-- Bilder 2    
      <section class="py-4">
          {
            bilder.galerie2 && (
              <div class="col-12">
                <div class="row justify-center lg:justify-normal content-around items-center">
                  {bilder.galerie2.map((item, index) => {
                    return (
                      <div class="col-12 lg:col-3 text-center pt-8">
                        <a
                          href={item}
                          data-no-swup
                          class="glightbox"
                          data-gallery="gallery-group-1">
                          <ImageMod
                            src={item}
                            width="full"
                            height="full"
                            class="mx-auto rounded"
                            alt={title}
                          />
                        </a>
                      </div>
                    );
                  })}
                </div>
              </div>
            )
          }
        </section> -->  
    </div>
  </section>
</Base>
