---
import MasonaryImages from "@/layouts/react-partials/MasonaryImages.tsx";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getEntry } from "astro:content";
import DynamicIcon from "@/helpers/DynamicIcon";
import { markdownify } from "@/lib/utils/textConverter";
const gilching20 = await getEntry("igotshot-photo", "unruly-ghosts");
import config from "@/config/config.json";
import Social from "@/components/Social.astro";
import social from "@/config/social.json";
const {
  body,
  render,
  data: {   title,
  section,
  keywords,
  beschreibung,
  meta_title,
  designation,
  contacts,
  tag,
  description,
  image,
  information,
  logo,
  logodark,},
} = gilching20;

const { Content } = await render();
const servicesCollection = await getSinglePage("gilching");

// Update the folder path `/public/images/igotshot/photos/festumzug-kulturlieferdienst` if necessary 
const images = await import.meta.glob(
    "/public/images/igotshot/photos/unruly-ghosts/bilder/*.{jpeg,jpg,png,gif}"
);
---

<Base
title={title}
image={image}
section={section}
keywords={keywords}
meta_title={meta_title}
description={description}
body_class="page-color-dark-igotshot page-color-light-igotshot">
  
  <section class="py-4">
    <div class="container">
      <div class="row gy-4 items-start">
        <aside
        class="lg:col-4 lg:sticky lg:top-0 ms-sticky-sidebar"
        ms-sticky-top-offset="230"
        ms-sticky-bottom-offset="10">
        <div>
          <div class="text-center h-full rounded overflow-hidden group">
            {
              logo && (
                <img
                  src={logo}
                  width={300}
                  height="full"
                  alt={title ? title : "projekt image"}
                  class="dark:hidden w-full inline-block object-cover pb-8 object-center"
                />
              )
            }
            {
              logo && (
                <img
                  src={logodark}
                  width={300}
                  height="full"
                  alt={title ? title : "projekt image"}
                  class="hidden dark:inline-block w-full object-cover pb-8 object-center"
                />
              )
            }
            {
              information && (
                <div class="pt-2 px-4 text-base">
                  {information.map((info) => {
                    const { data, label, icon } = info;
                    return (
                      <div class="p-3 flex justify-between">
                        <p class=" font-primary m-0 text-base">
                          {icon && (
                            <DynamicIcon
                              className="inline-block me-2"
                              icon={icon}
                            />
                          )}
                          {label}
                        </p>
                        <span
                          class="text-end text-textdark dark:text-igot"
                          set:html={markdownify(data)}
                        />
                      </div>
                    );
                  })}
                </div>
              )
            }
            {
              tag && (
                <div class="px-4 pb-3 text-base">
                  {tag.map((info) => {
                    const { data, label, icon, link } = info;
                    return (
                      <div class="p-3 flex justify-between ">
                        <p class=" font-primary m-0 text-base">
                          {icon && (
                            <DynamicIcon
                              className="inline-block me-2"
                              icon={icon}
                            />
                          )}
                          {label}
                        </p>
                        <a class="border border-igot rounded-xl hover:bg-igot hover:text-bgweiss dark:hover:text-bgdark py-1 px-4"
                          href={link}>
                        <span
                          class="text-end hover:text-textweiss "
                          set:html={markdownify(data)}
                        /></a>
                      </div>
                    );
                  })}
                </div>
              )
            }
            <div>
              {
                contacts && (
                  <>
                    <h2 class="h5 text-start ml-8" set:html="Information" />
                    <ul class="pl-0 mb-5 md:mb-10">
                      {contacts.map((contact) => {
                        const { id, link, icon } = contact;
                        if (!id) return null;
                        return (
                          <li class="text-color text-start ml-8 my-3">
                            {icon && (
                              <DynamicIcon
                                className="me-3 inline-block"
                                icon={icon}
                              />
                            )}
                            <a href={link}>
                              {id}
                            </a>
                          </li>
                        );
                      })}
                    </ul>
                  </>
                )
              }
            </div>
            <!-- Social Links -->
            <hr class="h-px my-2">
              <h2 class="h5 pt-2 text-start ml-8" set:html="Folge uns auf" />
                <p class="my-2 text-base text-start ml-8" set:html="Whatsapp, Instagram, LinkedIn, Vimeo" />
                <div class="py-4"> 
                  <Social source={social.main} className="social-icons" />
                </div>
          </div>
        </div>
      </aside>
        <article class="lg:col-8">
          {title && <h2 class="h3" set:html={markdownify(title)} />}
          {
            designation && (
              <span class="text-primary h6 mb-8" set:html={designation} />
            )
          }
          {
            beschreibung && (
              <p class="mb-10" set:html={markdownify(beschreibung)} />
            )
          }
            {
              body && (
                <p class="content">
                  <Content /></p>
                  <div class="py-8">
                  <MasonaryImages client:load images={images} mobile={2} desktop={3} large={4} />
                </div>
               <!-- NOTE urheberrecht -->
            {config.urheberrecht.title}
           <p class="text-xs italic"> {config.urheberrecht.description}</p>
              )
            }
          </div>
        </article>
      </div>
    </div>
  </section>
</Base>
