---
import BlogCard from "@/components/BlogCard.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";

import { getEntry, type CollectionEntry } from "astro:content";

const BLOG_FOLDER = "kundenbereich";
const { slug } = Astro.params;
const {
  data: { title, meta_title, image, keywords, description },
} = await getEntry(BLOG_FOLDER, "-index");

const posts = await getSinglePage(BLOG_FOLDER);
const allCategories = await getAllTaxonomy(BLOG_FOLDER, "categories");
const categories = await getTaxonomy(BLOG_FOLDER, "categories");
const tags = await getTaxonomy(BLOG_FOLDER, "tags");
const sortedPosts = sortByDate(posts) as CollectionEntry<"kundenbereich">[];
const totalPages = Math.ceil(posts.length / config.settings.pagination);
const currentPage = slug && !isNaN(Number(slug)) ? Number(slug) : 1;
const indexOfLastPost = currentPage * config.settings.pagination;
const indexOfFirstPost = indexOfLastPost - config.settings.pagination;
const currentPosts = sortedPosts.slice(indexOfFirstPost, indexOfLastPost);

export async function getStaticPaths() {
  const BLOG_FOLDER = "kundenbereich";
  const posts = await getSinglePage(BLOG_FOLDER);
  const totalPages = Math.ceil(posts.length / config.settings.pagination);
  const paths = [];

  for (let i = 1; i < totalPages; i++) {
    paths.push({
      params: {
        slug: (i + 1).toString(),
      },
    });
  }
  return paths;
}
---

<Base
  title={title}
  meta_title={meta_title}
  image={image}
  keywords={keywords}
  description={description}
  body_class="page-color-dark-hochzeits page-color-light-hochzeits">
  <section class="overflow-hidden">
    <div class="container">
      <h1 class="pt-20 uppercase text-center">Seite: {currentPage}</h1>
      <Pagination
        class="mt-10"
        section={BLOG_FOLDER}
        currentPage={currentPage}
        totalPages={totalPages}
      />
      <div class="row lg:gx-6">
        <!-- blog posts -->
        <div class="col">
          <div class="section max-lg:pb-0">
            <div class="row g-4">
              {
                currentPosts.map((post) => (
                  <div class="md:col-4">
                    <BlogCard content={post} />
                  </div>
                ))
              }
            </div>
            <Pagination
              class="mt-10"
              section={BLOG_FOLDER}
              currentPage={currentPage}
              totalPages={totalPages}
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
